.reveal {
    font-size: 30px !important;
    /* Tamanho padrão menor para os slides */
}

.reveal h1 {
    font-size: 2.0em !important;
}

.reveal h2 {
    font-size: 1.5em !important;
}

.reveal h3 {
    font-size: 1.3em !important;
}

/* Tabelas e Códigos um pouco maiores */
.reveal table th,
.reveal table td {
    font-size: 1.5em !important;
}


.reveal pre {
    width: 100% !important;
    max-height: none !important;
}

.reveal pre code {
    font-size: 1.4em !important;
    line-height: 1.3 !important;
    max-height: 600px !important;
    overflow: auto !important;
    background-color: #272822 !important; /* Garante fundo escuro do Monokai */
    color: #f8f8f2 !important; /* Garante cor do texto claro do Monokai */
}